body {
    background-image: url("pixel_background.jpg");
}

.carousel-inner > .carousel-item > img {
    width:640px;
  height:360px;
    margin-bottom: auto;
}


h1{
text-align: center;
}

.btn-huge {
    /*position: absolute;*/
    /*right: -5rem;*/
    /*top: 5rem;*/
    /*font-family: 'Press Start 2P', cursive;;*/
    /*font-size: 11px;*/
    padding-top: 0px;
    padding-bottom: 1000px;
    font-family: 'Press Start 2P', cursive;