body {
    background-image: url("bonfire_try.png");
}

div.bonfire img{
    width: 80%;
    position: absolute;
    bottom: 5.5rem;
    right: 19rem;
}

div.bonfire {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 5s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.btn-huge {
    /*position: absolute;*/
    /*right: -5rem;*/
    /*top: 5rem;*/
    /*font-family: 'Press Start 2P', cursive;;*/
    /*font-size: 11px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
}