body {
    background-image: url("finale_bg.jpg");
}

.input {
    /*background: url('bubble.png') center center no-repeat;*/
    width: 150px;
    height: 45px;
    position: fixed;
    bottom: 226px;
    left: 90px;
    border-color: white;
}

.text img {
    height: 290px;
    width: 205px;
    position: fixed;
    bottom: 60px;
    left: 53px;
}

.words1, .words2, .words3 {
    font-size: 30px;
    color: white;
}

#hero{
    position:absolute;
    bottom: 0px;
    left: -75px;
    transform: rotateY(180deg);
}
#first_enemy {
    transform: rotateY(180deg);
    width: 400px;
}
#enemy1 {
    bottom: 0px;
    right: 10px;
    position: absolute;
    text-align: center;
}
#ripdog {
    bottom: 0px;
    right: 5px;
    position: absolute;
    width: 150px;
}
#zombiehand {
    bottom: -30px;
    right: 350px;
    position: absolute;
}
#kiszombie {
    transform: rotateY(180deg);
}
div#enemy3 {
   position: absolute;
   width: 150px;
   bottom: 0;
   right: 350px;
   text-align: center;
   font-size: 30px;
   animation: mymove 7s normal;
   animation-direction: normal;
   animation-timing-function: linear;
}
div#enemy3 {
    animation-delay:0s;
    -webkit-animation-delay: 0s;
}

#second_enemy {
        width: 150px;
}
#fireball_no {
    width: 0px;
    height: 0px;
}
#fireball_gif {
    width 55px;
    height: 55px;
    transform: rotateY(180deg);
}

div#fireball-do-nothing {
    width:0px;
    height:0px;
}
div#fireball-do-thing {
    position: absolute;
    width:100px;
    height:100px;
    bottom: 200px;
    /*right: 10px;*/
    animation: fireballmove 7s normal;
    animation-direction: normal;
    animation-timing-function: linear;
    font-size: 30px;
    color: white;
    text-align: center;
}
div#fireball-do-thing {
    animation-delay: 0s;
}
@keyframes fireballmove
	{
	from {right: 10%;}	/*off-screen left (adjust for image width)*/
	to {right:85%;}		/*off-screen right*/
	}

div#enemy2, div#enemy3 {
    position: absolute;
    bottom: 0;
    right: -1000px;
    text-align: center;
    font-size: 34px;
    animation: mymove 7s normal;
    animation-direction: normal;
    animation-timing-function: linear;
}

div#enemy2{
    animation-delay:0s;
    -webkit-animation-delay: 0s;
}
div#enemy3{
    animation-delay:1s;
    /*-webkit-animation-delay: 1s;*/
}

@keyframes mymove
	{
	from {right: 0%;}	/*off-screen left (adjust for image width)*/
	to {right:85%;}		/*off-screen right*/
	}
    
.carousel-inner > .carousel-item > img {
    width:640px;
  height:360px;
    margin-bottom: auto;
}


.btn-huge {

    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
}