body {
    background-image: url("finale_bg.jpg");
}

.input {
    /*background: url('bubble.png') center center no-repeat;*/
    width: 150px;
    position: fixed;
    bottom: 226px;
    left: 90px;
    border-color: white;
}

.text img {
    height: 290px;
    width: 205px;
    position: fixed;
    bottom: 60px;
    left: 53px;
}

.words1, .words2 {
    font-size: 30px;
    color: white;
}

#hero{
    position:absolute;
    bottom: 0px;
    left: -75px;
    transform: rotateY(180deg);
}
#first_enemy {
    transform: rotateY(180deg);
    width: 400px;
}
#enemy1 {
    bottom: 0px;
    right: 10px;
    position: absolute;
    text-align: center;
}
#ripdog {
    bottom: 0px;
    right: 5px;
    position: absolute;
    width: 150px;
}

#second_enemy {
        width: 150px;
}


div#enemy2 {
    position: absolute;
    bottom: 0;
    right: -1000px;
    text-align: center;
    font-size: 34px;
    animation: mymove 10s infinite; /* total animation time for each image is 8 seconds, loops forever */
    animation-direction: normal;
}

div#enemy2{
    animation-delay:0s;
    -webkit-animation-delay: 0s;
}


@keyframes mymove
	{
	from {right: 0%;}	/*off-screen left (adjust for image width)*/
	to {right:80%;}		/*off-screen right*/
	}
.carousel-inner > .carousel-item > img {
    width:640px;
  height:360px;
    margin-bottom: auto;
}


.btn-huge {
    /*position: absolute;*/
    /*right: -5rem;*/
    /*top: 5rem;*/
    /*font-family: 'Press Start 2P', cursive;;*/
    /*font-size: 11px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
}