body {
    background-image: url("character_choose_bg.jpg");
}

.input {
    /*background: url('bubble.png') center center no-repeat;*/
    width: 150px;
    position: fixed;
    bottom: 225px;
    left: 50px;
}

#dead {
    position: relative;
    width: 50px;
    length: 50px;
    bottom: 0;
}

#hero{
    position:absolute;
    bottom: 0px;
    left: -75px;
    transform: rotateY(180deg);
}

#first_enemy, #second_enemy, #third_enemy, #fourth_enemy, #fifth_enemy {
    transform: rotateY(180deg);
        width: 200px;
}

div#enemy1, div#enemy2, div#enemy3, div#enemy4, div#enemy5 {
    position: absolute;
    bottom: 0;
    right: -1000px;
    text-align: center;
    font-size: 34px;
    animation: mymove 15s infinite; /* total animation time for each image is 8 seconds, loops forever */
    animation-direction: normal;
}

div#enemy1{
    animation-delay:0s;
    -webkit-animation-delay: 0s;
}

div#enemy2{
    animation-delay:2s;
    -webkit-animation-delay: 2s;
}

div#enemy3{
    animation-delay:4s;
    -webkit-animation-delay: 4s;
}
div#enemy4{
    animation-delay:6s;
    -webkit-animation-delay: 6s;
}
div#enemy5{
    animation-delay:9s;
    -webkit-animation-delay: 9s;
}


@keyframes mymove
	{
	from {right: -10%;}	/*off-screen left (adjust for image width)*/
	to {right:90%;}		/*off-screen right*/
	}
.carousel-inner > .carousel-item > img {
    width:640px;
  height:360px;
    margin-bottom: auto;
}


h1{
text-align: center;
}


.btn-huge {
    /*position: absolute;*/
    /*right: -5rem;*/
    /*top: 5rem;*/
    /*font-family: 'Press Start 2P', cursive;;*/
    /*font-size: 11px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
}