body {
    background-image: url("pixel_background.jpg");
}

.dead {
    background-color: red;
}

#hero{
    position:absolute;
    bottom: 0px;
    left: -75px;
    transform: rotateY(180deg);
}

#first_enemy{
    transform: rotateY(180deg);
        width: 175px;
    left: -100px;
    height: 200px;
    animation: run 10s;
    animation-direction: normal;
    animation-duration: 10s;
}
@keyframes run {
    0% {left: 0px;}
    50%{left: 100px}
    100%{left: 250px}
}

div#enemy {
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 35px;
    text-align: center;
}

