body {
    background-image: url("pixel_background_title.jpg");
}

div.Heromenu{
    position: absolute;
    bottom: 5rem;
    right: 6rem;
}

div.Dogmenu{
    position: absolute;
    bottom: 6rem;
    right: 22rem;

}

/*.start{*/
/*    position: absolute;*/
/*    bottom: 30rem;*/
/*    right: 50rem;*/
/*}*/

.btn-huge{
    position: absolute;
    right: -73rem;
    top: 45rem;
    font-family: 'Press Start 2P', cursive;;
    font-size: 35px;
    /*bottom: 55rem;*/
    /*padding-top:20px;*/
    /*padding-bottom:20px;*/
}

div.tbubble img{
    position: absolute;
    width: 15rem;
    bottom: 13rem;
    right: 23rem;
}

#zene{
    position: absolute;

}