<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" type="text/css" href="/static/css/end.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<audio hidden autoplay="autoplay" controls="controls"><source src="../static/css/Crackling Fireplace Sound Effect HQ.mp3" type="audio/mpeg" /></audio>
<div class="bonfire">
    <img src="/static/css/endhero.gif">
</div>
</body>
</html>
