<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

    <title>End</title>
    <link rel="stylesheet" type="text/css" href="/static/css/end.css">

    <title>Title</title>
        <link rel="stylesheet" type="text/css" href="/static/css/end.css">
</head>
<body>

    <span class="col-md-3">
        <a href="/" class="btn btn-success btn-lg btn-block btn-huge">Back to the Main Page</a>
    </span>


<audio hidden autoplay="autoplay" controls="controls"><source src="../static/css/Crackling Fireplace Sound Effect HQ.mp3" type="audio/mpeg" /></audio>
<div class="bonfire">
    <img src="/static/css/endhero.gif">
</div>
</body>
</html>
