<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

    <title>Title</title>
    <script src="/static/js/finale.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/finale.css">
</head>
<body>

<span class="text">
    <img src="/static/pic/bubble_text.png">
</span>

    <span class="col-md-3">
        <a href="/" class="btn btn-success btn-lg btn-block btn-huge">Back to the Main Page</a>
    </span>
<span id="span hero">
    <textarea class="input"></textarea>
    <img src="{{character}}" id="hero">
</span>

<div id="enemy1">
<p class="words1"></p>
<img src="/static/css/bossocska.gif" id="first_enemy">
    </div>

<div id="ripdog">
<p class="words2"></p>
    <img src="/static/css/rip.png" id="second_enemy">
        </div>

<div id="zombiehand">
<p class="words3"></p>
    <img src="/static/css/zombiehand.png" id="third_enemy" width="100px" length="100px">
        </div>

</body>
</html>