<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/finale.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/finale.css">
</head>
<body>
<a href="/"><button>Back to Main Menu</button></a><br>
<span id="span hero">
    <textarea class="input"></textarea>
    <img src="{{character}}" id="hero">
</span>

<div id="enemy1">
<p class="words1"></p>
<img src="/static/css/bossocska.gif" id="first_enemy">
    </div>

<div id="ripdog">
<p class="words2"></p>
    <img src="/static/css/rip.png" id="second_enemy">
        </div>

</body>
</html>