<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Javascript Game</title>
    <script src="/static/js/game.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<a href="/"><button>Back to Main Menu</button></a><br>
<span id="span hero">
    <textarea class="input"></textarea>
    <img src="{{character}}" id="hero">
</span>

<div id="enemy1">
<p class="words1"></p>
<img src="/static/css/zombie2.gif" id="first_enemy">
    </div>

<div id="enemy2">
<p class="words2"></p>
    <img src="/static/css/zombie3.gif" id="second_enemy">
        </div>


    <div id="enemy3">
<p class="words3"></p>
        <img src="/static/css/zombie4.gif" id="third_enemy">
            </div>


<!--<textarea class="input"></textarea>-->
</body>
</html>