<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

    <title>Level 1</title>
    <script src="/static/js/game.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<!--<a href="/"><button>Back to Main Menu</button></a><br>-->
    <div class="col-md-3">
        <a href="/" class="btn btn-success btn-lg btn-block btn-huge">Back to the Main Page</a>
    </div>

<div class="text">
    <img src="/static/pic/bubble_text.png">
</div>


<span id="span hero">
    <textarea class="input"></textarea>
    <img src="{{character}}" id="hero">
</span>

<div id="enemy1">
<p class="words1"></p>
<img src="/static/css/zombie2.gif" id="first_enemy">
    </div>

<div id="enemy2">
<p class="words2"></p>
    <img src="/static/css/zombie3.gif" id="second_enemy">
        </div>


    <div id="enemy3">
<p class="words3"></p>
        <img src="/static/css/zombie4.gif" id="third_enemy">
            </div>

</body>
</html>