<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Javascript Game</title>
    <script src="static/js/game.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<span id="span hero">
    <img src="static/css/magicguy.gif" id="hero"></img>
</span>

<div id="enemy">
<p class="words1"></p>
<img src="static/css/zombie2.gif" id="first_enemy">
    </div>

<p class="words2"></p>

<p class="words3"></p>

<textarea class="input"></textarea>
</body>
</html>