<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Level 2</title>
    <script src="/static/js/level2.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/level2.css">
</head>
<body>
<a href="/"><button>Back to Main Menu</button></a><br>
<span id="span hero">
    <textarea class="input"></textarea>
    <img src="{{character}}" id="hero">
</span>

<div id="enemy1">
<p class="words1"></p>
<img src="/static/css/zombie4.gif" id="first_enemy">
    </div>

<div id="enemy2">
<p class="words2"></p>
    <img src="/static/css/zombie3.gif" id="second_enemy">
        </div>

    <div id="enemy3">
<p class="words3"></p>
        <img src="/static/css/zombie4.gif" id="third_enemy">
            </div>

<div id="enemy4">
<p class="words4"></p>
        <img src="/static/css/zombie3.gif" id="fourth_enemy">
            </div>

<div id="enemy5">
<p class="words5"></p>
        <img src="/static/css/zombie2.gif" id="fifth_enemy">
            </div>
</body>
</html>