<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <script src="static/js/menu.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
</head>
<body class="mainmenu">

<div class="start">
<a href="choose-character", method="GET"><button>Start</button></a>
</div>

<div class="Heromenu">
    <img src="static/css/heromainmenu.gif">
</div>

<div class="Dogmenu">
    <img width='145rem', src="static/css/dogmainmenu.gif">
</div>

</body>
</html>