<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

    <title>Main Menu</title>
    <script src="static/js/menu.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
</head>
<body class="mainmenu">

<!--<div class="start">-->
<!--<a href="choose-character", method="GET"><button type="button" class="btn btn-success">Start old</button></a>-->
<!--</div>-->

    <div class="col-md-3">
        <a href="choose-character" class="btn btn-success btn-lg btn-block btn-huge">Start</a>
    </div>




<div class="Heromenu">
    <img src="static/css/heromainmenu.gif">
</div>

<div class="Dogmenu">
    <img width='145rem', src="static/css/dogmainmenu.gif">
</div>

</body>
</html>